<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NopCommerce Regression Suite">
    <parameter name="browser" value="edge"></parameter>
    <test verbose="2" preserve-order="true" name="C:/Users/zmoftah/IdeaProjects/NopCommerceTesting">
        <classes>
            <class name="tests.UserRegistrationTest"/>
        </classes>
    </test>
</suite>